body{
    font-family: 'Montserrat', sans-serif;
}
#main-page{
    background-image:  url(img/timthumb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#main-page button{
    background-color: #016ba5;
}
